@page "/"

<PageTitle>Index</PageTitle>

    <section id="cajaPadre">
        <section id="cajaContenido">
            <div id="cajaLogo">
                <BSImage id="logoindex" Source="img/LogoGris.png" />
            </div>
            <div id="cajaInformacion">
                <p id="tituloInfo">Información</p>
                <ul id="Info">
                    <li>Pestaña Formato: Posee el formulario para el registro de novedades a lo largo del turno.</li>
                    <li>Pestaña Histórico: Histórico de las novedades cargadas en el sistema a lo largo del tiempo.</li>
                </ul>
            </div>
        </section>
        <section id="cajaImg">
            <BSImage Source="img/Neo.png" />
        </section>

    </section>
    <!-- <footer>
        <section id="logofooter">
            <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="5%" viewBox="0 0 577 577" enable-background="new 0 0 577 577" xml:space="preserve">
            <path fill="#00C079" opacity="1.000000" stroke="none" 
                d="
            M0.999995,434.000000 
                C1.000000,368.312439 1.000000,302.624878 1.468657,236.468658 
                C49.606514,235.999725 97.275719,235.999435 145.038162,236.459946 
                C145.140747,302.266602 145.150070,367.612457 145.128830,433.425171 
                C145.088730,481.549469 145.079193,529.206848 144.812531,576.900024 
                C144.383118,576.952820 144.210846,576.969727 143.797638,576.757935 
                C117.592072,550.506226 91.649773,524.460693 65.655945,498.466736 
                C44.135536,476.946259 22.554277,455.486633 0.999995,434.000000 
            z"/>
            <path fill="#FEFEFE" opacity="1.000000" stroke="none" 
                d="
            M434.000000,1.000000 
                C481.926971,1.000000 529.853943,1.000000 578.000000,1.000000 
                C578.000000,48.687336 578.000000,96.375008 577.742676,144.541992 
                C577.313660,145.019409 577.141968,145.017548 576.706909,144.818909 
                C528.919189,97.097198 481.394745,49.572235 433.867432,1.781084 
                C433.909760,1.343264 433.954895,1.171632 434.000000,1.000000 
            z"/>
            <path fill="#FFFFFF" opacity="1.000000" stroke="none" 
                d="
            M578.000000,434.000000 
                C578.000000,481.926971 578.000000,529.853943 578.000000,578.000000 
                C530.312683,578.000000 482.625000,578.000000 434.466064,577.724548 
                C433.958191,577.269043 433.921570,577.089050 434.032471,576.603760 
                C446.102997,564.475769 458.026031,552.653076 470.253906,540.700867 
                C473.376068,537.544739 476.103027,534.427673 479.026764,531.507629 
                C490.300446,520.248230 501.637024,509.051880 513.254883,497.702423 
                C518.241882,492.897003 522.928101,488.225189 527.605652,483.544678 
                C544.098328,467.041382 560.588013,450.535065 577.309692,434.039276 
                C577.540527,434.048645 578.000000,434.000000 578.000000,434.000000 
            z"/>
            <path fill="#FEFFFE" opacity="1.000000" stroke="none" 
                d="
            M1.000002,145.000000 
                C1.000000,97.073013 1.000000,49.146027 1.000000,1.000000 
                C48.687336,1.000000 96.375008,1.000000 144.401764,1.173633 
                C144.740845,1.347267 144.704712,1.779062 144.500793,1.859508 
                C144.025146,2.110899 143.887451,2.356859 143.574493,2.827936 
                C124.805916,21.546286 106.346603,40.114532 87.577560,58.830128 
                C84.083305,62.148720 80.896782,65.317978 77.714561,68.491539 
                C52.142586,93.993904 26.571419,119.497078 1.000002,145.000000 
            z"/>
            <path fill="#FEFFFE" opacity="1.000000" stroke="none" 
                d="
            M0.999995,434.468658 
                C22.554277,455.486633 44.135536,476.946259 65.655945,498.466736 
                C91.649773,524.460693 117.592072,550.506226 143.801056,577.011719 
                C144.030273,577.662781 144.015137,577.831360 144.000000,578.000000 
                C96.406090,578.000000 48.812183,578.000000 1.000000,578.000000 
                C1.000000,530.312683 1.000000,482.625000 0.999995,434.468658 
            z"/>
            <path fill="#00C071" opacity="1.000000" stroke="none" 
                d="
            M144.944916,235.999146 
                C97.275719,235.999435 49.606514,235.999725 1.468657,236.000000 
                C1.000000,217.979111 1.000000,199.958206 1.468657,181.468658 
                C49.606506,180.999695 97.275696,180.999390 145.038574,181.459778 
                C145.069794,199.946716 145.007355,217.972931 144.944916,235.999146 
            z"/>
            <path fill="#00BF68" opacity="1.000000" stroke="none" 
                d="
            M144.944885,180.999069 
                C97.275696,180.999390 49.606506,180.999695 1.468657,181.000000 
                C1.000000,169.979111 1.000000,158.958206 1.220621,147.474426 
                C1.441241,147.011520 1.882629,147.013458 2.118932,147.339233 
                C3.723485,148.090378 5.082494,148.851624 6.461404,148.889557 
                C21.567953,149.305206 36.677921,149.594452 51.786320,149.945511 
                C65.231339,150.257904 78.674690,150.646866 92.120346,150.926071 
                C109.724571,151.291626 127.330338,151.582458 145.031891,152.371613 
                C145.067184,162.224884 145.006027,171.611969 144.944885,180.999069 
            z"/>
            <path fill="#00B564" opacity="1.000000" stroke="none" 
                d="
            M1.882628,147.013458 
                C1.882629,147.013458 1.441241,147.011520 1.220621,147.005768 
                C1.000000,146.555557 1.000000,146.111115 1.000002,145.333344 
                C26.571419,119.497078 52.142586,93.993904 77.714561,68.491539 
                C80.896782,65.317978 84.083305,62.148720 87.610184,59.319588 
                C87.958511,88.379501 87.964478,117.097305 87.506256,145.861084 
                C60.717945,145.929276 34.393742,145.928406 8.069849,146.018433 
                C6.006331,146.025482 3.944984,146.666870 1.882628,147.013458 
            z"/>
            <path fill="#7FCCB1" opacity="1.000000" stroke="none" 
                d="
            M144.468658,578.000000 
                C144.015137,577.831360 144.030273,577.662781 144.041992,577.240356 
                C144.210846,576.969727 144.383118,576.952820 145.125015,576.982544 
                C146.120361,576.978271 146.546066,576.927307 147.440491,576.921631 
                C166.275497,576.925171 184.641754,576.883362 203.473114,576.897278 
                C221.626266,576.915283 239.314331,576.877625 257.467773,576.899170 
                C273.622681,576.919006 289.312286,576.879639 305.467224,576.899963 
                C319.621887,576.920776 333.311218,576.881836 347.466003,576.903198 
                C360.621490,576.923706 373.311523,576.883850 386.466675,576.903381 
                C399.954742,576.924744 412.977661,576.886719 426.436340,576.907776 
                C429.209717,576.947632 431.547333,576.928406 433.884979,576.909180 
                C433.921570,577.089050 433.958191,577.269043 433.997406,577.724548 
                C337.645782,578.000000 241.291550,578.000000 144.468658,578.000000 
            z"/>
            <path fill="#BFDDD6" opacity="1.000000" stroke="none" 
                d="
            M578.000000,433.531342 
                C578.000000,434.000000 577.540527,434.048645 577.285889,433.697754 
                C576.973633,432.894958 576.915955,432.443115 576.923096,431.745941 
                C576.940674,431.338226 576.893433,431.175812 576.906250,430.549927 
                C576.967651,335.062836 576.968933,240.039261 576.970215,145.015671 
                C577.141968,145.017548 577.313660,145.019409 577.742676,145.010651 
                C578.000000,241.020889 578.000000,337.041779 578.000000,433.531342 
            z"/>
            <path fill="#3FB184" opacity="1.000000" stroke="none" 
                d="
            M144.704712,1.779062 
                C144.704712,1.779062 144.740845,1.347267 144.870422,1.173633 
                C195.687561,1.000000 246.375122,1.000000 297.528748,1.227484 
                C297.994843,1.454967 297.987152,1.909898 297.520508,1.939619 
                C282.704285,2.008634 268.354706,2.047928 253.536957,2.053135 
                C234.050415,2.038047 215.032074,2.057046 195.544968,2.047972 
                C178.285721,1.939620 161.495209,1.859341 144.704712,1.779062 
            z"/>
            <path fill="#3FA07F" opacity="1.000000" stroke="none" 
                d="
            M297.987152,1.909899 
                C297.987152,1.909898 297.994843,1.454967 297.997437,1.227484 
                C343.020905,1.000000 388.041779,1.000000 433.531342,1.000000 
                C433.954895,1.171632 433.909760,1.343264 433.644470,1.810002 
                C433.424377,2.105108 432.977356,2.154378 432.739807,2.089547 
                C432.502258,2.024717 432.012177,2.064841 431.543427,2.038697 
                C412.051788,2.038245 393.028931,2.063936 373.537994,2.057796 
                C353.383453,2.048596 333.696930,2.071229 313.543884,2.062830 
                C308.047241,1.991166 303.017212,1.950532 297.987152,1.909899 
            z"/>
            <path fill="#FFFFFF" opacity="1.000000" stroke="none" 
                d="
            M145.038574,181.459778 
                C145.006027,171.611969 145.067184,162.224884 145.137482,151.975449 
                C145.134933,149.459930 145.123245,147.806763 145.545898,145.977737 
                C149.112793,145.718307 152.244873,145.591446 155.377945,145.558624 
                C168.914398,145.416809 182.451157,145.302521 196.437836,145.316681 
                C215.937012,145.359222 234.986160,145.263306 254.478424,145.310364 
                C260.385162,145.479446 265.849091,145.556747 271.312286,145.521683 
                C285.535828,145.430420 299.759094,145.289856 314.431580,145.310623 
                C319.685242,145.476929 324.490021,145.548264 329.294159,145.517487 
                C344.190186,145.422104 359.085938,145.287918 374.430969,145.310471 
                C392.596497,145.369278 410.312897,145.286407 428.412781,145.346832 
                C429.603821,145.417648 430.411407,145.345154 431.496277,145.421448 
                C432.175812,145.680267 432.578064,145.790298 432.987518,146.373077 
                C432.998749,238.247055 433.001709,329.648285 433.013855,421.049500 
                C433.014130,423.043243 433.120026,425.036957 433.099548,427.448059 
                C432.978271,429.563263 432.934143,431.261108 432.461060,433.010315 
                C430.023895,433.169220 428.015625,433.276825 425.547089,433.288849 
                C412.060425,433.257721 399.034058,433.322144 385.547424,433.290833 
                C372.390198,433.258911 359.693298,433.322693 346.537231,433.290649 
                C332.384399,433.258362 318.690704,433.321960 304.537842,433.289612 
                C288.384674,433.257416 272.690704,433.321167 256.537537,433.289307 
                C238.389282,433.256653 220.700241,433.319580 202.550751,433.286377 
                C186.037933,433.246246 169.985550,433.302246 153.501038,433.256897 
                C150.432419,433.089783 147.795898,433.024048 145.159393,432.958313 
                C145.150070,367.612457 145.140747,302.266602 145.038162,236.459946 
                C145.007355,217.972931 145.069794,199.946716 145.038574,181.459778 
            z"/>
            <path fill="#007545" opacity="1.000000" stroke="none" 
                d="
            M145.128830,433.425171 
                C147.795898,433.024048 150.432419,433.089783 153.506714,433.690979 
                C153.306992,445.312927 152.621323,456.396912 152.044189,467.486542 
                C151.328598,481.236450 150.676712,494.989807 150.044388,508.743866 
                C149.000336,531.453735 147.994003,554.165405 146.971771,576.876282 
                C146.546066,576.927307 146.120361,576.978271 145.382172,576.946777 
                C145.079193,529.206848 145.088730,481.549469 145.128830,433.425171 
            z"/>
            <path fill="#007858" opacity="1.000000" stroke="none" 
                d="
            M433.176666,427.030701 
                C433.120026,425.036957 433.014130,423.043243 433.013855,421.049500 
                C433.001709,329.648285 432.998749,238.247055 433.008057,146.160980 
                C433.021393,145.476135 433.010864,145.048218 433.311279,144.751495 
                C433.744568,142.642624 434.004517,140.829575 433.991791,139.018448 
                C433.671082,93.396965 433.321686,47.775688 432.977356,2.154378 
                C432.977356,2.154378 433.424377,2.105108 433.647339,2.076190 
                C481.394745,49.572235 528.919189,97.097198 576.706909,144.818909 
                C576.968933,240.039261 576.967651,335.062836 576.452026,430.546570 
                C570.820496,430.683075 565.707642,430.206970 560.585510,430.064484 
                C545.488403,429.644501 530.386841,429.385315 515.288452,429.007538 
                C504.180115,428.729614 493.075195,428.312042 481.966553,428.050018 
                C465.704315,427.666412 449.440063,427.366364 433.176666,427.030701 
            z"/>
            <path fill="#018662" opacity="1.000000" stroke="none" 
                d="
            M426.007385,433.384399 
                C428.015625,433.276825 430.023895,433.169220 432.935608,433.043091 
                C445.222992,433.058868 456.606964,433.093231 468.053711,433.533966 
                C468.411041,436.219940 468.957733,438.499023 468.961945,440.779114 
                C469.018738,471.517395 468.977051,502.255890 469.041168,532.994141 
                C469.046600,535.606812 469.632721,538.218384 469.949066,540.830444 
                C458.026031,552.653076 446.102997,564.475769 434.032471,576.603760 
                C431.547333,576.928406 429.209717,576.947632 426.436096,576.451172 
                C426.002533,528.418518 426.004974,480.901459 426.007385,433.384399 
            z"/>
            <path fill="#018162" opacity="1.000000" stroke="none" 
                d="
            M470.253906,540.700867 
                C469.632721,538.218384 469.046600,535.606812 469.041168,532.994141 
                C468.977051,502.255890 469.018738,471.517395 468.961945,440.779114 
                C468.957733,438.499023 468.411041,436.219940 468.522186,433.494446 
                C481.284454,433.041534 493.641083,433.034546 506.069641,433.391541 
                C511.955414,435.295502 512.663818,439.481995 512.062439,444.628204 
                C511.717590,447.579437 511.948456,450.604950 512.008789,453.595245 
                C512.306274,468.341156 512.633423,483.086487 512.950134,497.832001 
                C501.637024,509.051880 490.300446,520.248230 479.026764,531.507629 
                C476.103027,534.427673 473.376068,537.544739 470.253906,540.700867 
            z"/>
            <path fill="#027D63" opacity="1.000000" stroke="none" 
                d="
            M513.254883,497.702423 
                C512.633423,483.086487 512.306274,468.341156 512.008789,453.595245 
                C511.948456,450.604950 511.717590,447.579437 512.062439,444.628204 
                C512.663818,439.481995 511.955414,435.295502 506.538330,433.375732 
                C530.242859,432.661011 553.550598,432.326141 576.858276,431.991241 
                C576.915955,432.443115 576.973633,432.894958 577.055054,433.688354 
                C560.588013,450.535065 544.098328,467.041382 527.605652,483.544678 
                C522.928101,488.225189 518.241882,492.897003 513.254883,497.702423 
            z"/>
            <path fill="#04A261" opacity="1.000000" stroke="none" 
                d="
            M195.987793,145.178223 
                C182.451157,145.302521 168.914398,145.416809 155.377945,145.558624 
                C152.244873,145.591446 149.112793,145.718307 145.358063,145.723755 
                C144.158478,145.434250 143.581070,145.222885 143.002563,144.542130 
                C143.000977,105.701607 142.947250,67.330322 143.040237,28.959402 
                C143.061462,20.198250 143.589172,11.438324 143.883759,2.677833 
                C143.887451,2.356859 144.025146,2.110899 144.500793,1.859508 
                C161.495209,1.859341 178.285721,1.939620 195.539581,2.508648 
                C195.997910,50.391006 195.992844,97.784615 195.987793,145.178223 
            z"/>
            <path fill="#00AB61" opacity="1.000000" stroke="none" 
                d="
            M143.574493,2.827935 
                C143.589172,11.438324 143.061462,20.198250 143.040237,28.959402 
                C142.947250,67.330322 143.000977,105.701607 142.536438,144.546600 
                C124.037750,145.285324 106.004097,145.550217 87.970451,145.815109 
                C87.964478,117.097305 87.958511,88.379501 87.919914,59.172241 
                C106.346603,40.114532 124.805916,21.546286 143.574493,2.827935 
            z"/>
            <path fill="#007F45" opacity="1.000000" stroke="none" 
                d="
            M87.506256,145.861084 
                C106.004097,145.550217 124.037750,145.285324 142.537537,145.015961 
                C143.581070,145.222885 144.158478,145.434250 144.923721,145.899597 
                C145.123245,147.806763 145.134933,149.459930 145.041046,151.509277 
                C127.330338,151.582458 109.724571,151.291626 92.120346,150.926071 
                C78.674690,150.646866 65.231339,150.257904 51.786320,149.945511 
                C36.677921,149.594452 21.567953,149.305206 6.461404,148.889557 
                C5.082494,148.851624 3.723485,148.090378 2.118931,147.339233 
                C3.944984,146.666870 6.006331,146.025482 8.069849,146.018433 
                C34.393742,145.928406 60.717945,145.929276 87.506256,145.861084 
            z"/>
            <path fill="#00A164" opacity="1.000000" stroke="none" 
                d="
            M203.011185,433.382507 
                C220.700241,433.319580 238.389282,433.256653 256.539246,433.732666 
                C257.000916,481.794403 257.001678,529.317200 257.002411,576.839966 
                C239.314331,576.877625 221.626266,576.915283 203.470215,576.441528 
                C203.005234,528.414307 203.008209,480.898407 203.011185,433.382507 
            z"/>
            <path fill="#02A866" opacity="1.000000" stroke="none" 
                d="
            M202.550751,433.286377 
                C203.008209,480.898407 203.005234,528.414307 203.005142,576.385864 
                C184.641754,576.883362 166.275497,576.925171 147.440506,576.921631 
                C147.994003,554.165405 149.000336,531.453735 150.044388,508.743866 
                C150.676712,494.989807 151.328598,481.236450 152.044189,467.486542 
                C152.621323,456.396912 153.306992,445.312927 153.938843,433.792358 
                C169.985550,433.302246 186.037933,433.246246 202.550751,433.286377 
            z"/>
            <path fill="#009B64" opacity="1.000000" stroke="none" 
                d="
            M257.467773,576.899170 
                C257.001678,529.317200 257.000916,481.794403 256.998413,433.828247 
                C272.690704,433.321167 288.384674,433.257416 304.539490,433.732910 
                C305.000854,481.794891 305.001373,529.317566 305.001862,576.840271 
                C289.312286,576.879639 273.622681,576.919006 257.467773,576.899170 
            z"/>
            <path fill="#009463" opacity="1.000000" stroke="none" 
                d="
            M305.467224,576.899963 
                C305.001373,529.317566 305.000854,481.794891 304.998657,433.828857 
                C318.690704,433.321960 332.384399,433.258362 346.539032,433.733917 
                C347.000122,481.796356 347.000336,529.319641 347.000519,576.842896 
                C333.311218,576.881836 319.621887,576.920776 305.467224,576.899963 
            z"/>
            <path fill="#008B63" opacity="1.000000" stroke="none" 
                d="
            M425.547089,433.288879 
                C426.004974,480.901459 426.002533,528.418518 426.000366,576.392090 
                C412.977661,576.886719 399.954742,576.924744 386.466125,576.447144 
                C386.002869,528.416565 386.005280,480.901581 386.007690,433.386536 
                C399.034058,433.322144 412.060425,433.257721 425.547089,433.288879 
            z"/>
            <path fill="#009063" opacity="1.000000" stroke="none" 
                d="
            M385.547424,433.290833 
                C386.005280,480.901581 386.002869,528.416565 386.000977,576.387817 
                C373.311523,576.883850 360.621490,576.923706 347.466003,576.903198 
                C347.000336,529.319641 347.000122,481.796356 346.998169,433.829773 
                C359.693298,433.322693 372.390198,433.258911 385.547424,433.290833 
            z"/>
            <path fill="#005041" opacity="1.000000" stroke="none" 
                d="
            M576.923096,431.745941 
                C553.550598,432.326141 530.242859,432.661011 506.466431,433.011719 
                C493.641083,433.034546 481.284454,433.041534 468.459351,433.088043 
                C456.606964,433.093231 445.222992,433.058868 433.364532,432.991760 
                C432.934143,431.261108 432.978271,429.563263 433.099548,427.448059 
                C449.440063,427.366364 465.704315,427.666412 481.966553,428.050018 
                C493.075195,428.312042 504.180115,428.729614 515.288452,429.007538 
                C530.386841,429.385315 545.488403,429.644501 560.585510,430.064484 
                C565.707642,430.206970 570.820496,430.683075 576.391907,431.010071 
                C576.893433,431.175812 576.940674,431.338226 576.923096,431.745941 
            z"/>
            <path fill="#008F59" opacity="1.000000" stroke="none" 
                d="
            M313.982452,145.168945 
                C299.759094,145.289856 285.535828,145.430420 271.312286,145.521683 
                C265.849091,145.556747 260.385162,145.479446 254.466003,144.897705 
                C254.008682,96.923798 254.006912,49.505512 254.005157,2.087223 
                C268.354706,2.047928 282.704285,2.008634 297.520508,1.939619 
                C303.017212,1.950532 308.047241,1.991166 313.540039,2.521734 
                C313.995972,50.397434 313.989227,97.783195 313.982452,145.168945 
            z"/>
            <path fill="#00985C" opacity="1.000000" stroke="none" 
                d="
            M253.536957,2.053135 
                C254.006912,49.505512 254.008682,96.923798 254.022858,144.754730 
                C234.986160,145.263306 215.937012,145.359222 196.437836,145.316681 
                C195.992844,97.784615 195.997910,50.391006 196.008331,2.536721 
                C215.032074,2.057046 234.050415,2.038047 253.536957,2.053135 
            z"/>
            <path fill="#008457" opacity="1.000000" stroke="none" 
                d="
            M314.431580,145.310638 
                C313.989227,97.783195 313.995972,50.397434 314.006592,2.552765 
                C333.696930,2.071229 353.383453,2.048596 373.535828,2.517200 
                C373.995087,50.395222 373.988464,97.782005 373.981812,145.168793 
                C359.085938,145.287918 344.190186,145.422104 329.294159,145.517487 
                C324.490021,145.548264 319.685242,145.476929 314.431580,145.310638 
            z"/>
            <path fill="#007C54" opacity="1.000000" stroke="none" 
                d="
            M374.430969,145.310486 
                C373.988464,97.782005 373.995087,50.395222 374.003876,2.549032 
                C393.028931,2.063936 412.051788,2.038245 431.540649,2.500829 
                C431.346252,22.035112 430.676453,41.080799 430.029205,60.127251 
                C429.674530,70.564438 429.274628,81.001053 429.042450,91.441208 
                C428.643890,109.360634 428.360809,127.282623 428.029266,145.203537 
                C410.312897,145.286407 392.596497,145.369278 374.430969,145.310486 
            z"/>
            <path fill="#005339" opacity="1.000000" stroke="none" 
                d="
            M428.412781,145.346832 
                C428.360809,127.282623 428.643890,109.360634 429.042450,91.441208 
                C429.274628,81.001053 429.674530,70.564438 430.029205,60.127251 
                C430.676453,41.080799 431.346252,22.035112 432.009399,2.526973 
                C432.012177,2.064841 432.502258,2.024717 432.739807,2.089547 
                C433.321686,47.775688 433.671082,93.396965 433.991791,139.018448 
                C434.004517,140.829575 433.744568,142.642624 433.078674,144.703979 
                C432.103394,145.059677 431.661194,145.166168 431.218964,145.272659 
                C430.411407,145.345154 429.603821,145.417648 428.412781,145.346832 
            z"/>
            <path fill="#04A261" opacity="1.000000" stroke="none" 
                d="
            M431.496277,145.421448 
                C431.661194,145.166168 432.103394,145.059677 432.778259,145.000702 
                C433.010864,145.048218 433.021393,145.476135 433.000854,145.688232 
                C432.578064,145.790298 432.175812,145.680267 431.496277,145.421448 
            z"/>
            </svg>
        </section>
        <section id="creadoresfooter">

        </section>
        <section id="logoGrandefooter">

        </section>

    </footer> -->

