@page "/"

<PageTitle>Index</PageTitle>

<section id="cajaPadre">
    <section id="cajaContenido">
        <div id="cajaLogo">
            <RadzenImage id="logoindex" Path="img/LogoGris.png" AlternateText="Neo" />
        </div>
        <div id="cajaInformacion">
            <p id="tituloInfo">Información</p>
            <ul id="Info">
                <li>Pestaña Formato: Posee el formulario para el registro de novedades a lo largo del turno.</li>
                <li>Pestaña Histórico: Histórico de las novedades cargadas en el sistema a lo largo del tiempo.</li>
            </ul>
        </div>
    </section>
    <section id="cajaImg">
        <RadzenImage Path="img/Neo.png" AlternateText="Neo"/>
    </section>
</section>