@page "/"

<PageTitle>Index</PageTitle>
    <section id="cajaPadre">
        <section id="cajaContenido">
            <div id="cajaLogo">
                <BSImage id="logoindex" Source="img/LogoGris.png" />
            </div>
            <div id="cajaInformacion">
                <p id="tituloInfo">Información</p>
                <ul id="Info">
                    <li>Pestaña Formato: Posee el formulario para el registro de novedades a lo largo del turno.</li>
                    <li>Pestaña Histórico: Histórico de las novedades cargadas en el sistema a lo largo del tiempo.</li>
                </ul>
            </div>
        </section>
        <section id="cajaImg">
            <BSImage Source="img/Neo.png" />
        </section>
    </section>