@page "/load"
@inject IDataArea DataArea;
@inject IDataCentro DataCentro;
@inject ILineaData LineaData;
@inject IDataAPI DataAPI;
@inject IDataLibroNov DataLibroNov;
@inject IDataTiParTP DataTiParTP;
@inject IBlazorStrap blazorStrap
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager


<PageTitle>load</PageTitle>

<BSRow class="carga" Justify="Justify.Center">
    <BSCol Column="3">
      <div class="loader"><div class="loader2"></div></div>
    </BSCol>  
</BSRow>

<BSModal DataId="model9"  @ref="refModal">
    <Header>Modal Title</Header>
    <Content>Woohoo, you're reading this text in a modal!</Content>
    <Footer Context="modal">
        <BSButton MarginStart="Margins.Auto" Color="BSColor.Secondary" @onclick="modal.HideAsync">Close</BSButton>
        <BSButton Color="BSColor.Primary">Save changes</BSButton>
    </Footer>
</BSModal>
<BSButton Color="BSColor.Primary" @onclick="cambio">Launch demo modal</BSButton>

@code{
  BSModal refModal;

  protected override async Task  OnInitializedAsync()
  {
    refModal = new BSModal();
  }
  protected async Task cambio(){
    await refModal.ShowAsync();
  }
}