@inherits LayoutComponentBase
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager

<PageTitle>LibroNovedades</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <BSButton Color="BSColor.Success" IsOutlined="true"  @onclick="logout">Logout</BSButton>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{

    protected async Task logout(){
        await sessionStorage.SetItemAsync("usuarioD", "");
        await sessionStorage.SetItemAsync("usuarioA", "");
        await sessionStorage.SetItemAsync("usuarioN", "");
        await sessionStorage.SetItemAsync("usuarioC", "");
        await sessionStorage.SetItemAsync("usuarioF", "");
        NavigationManager.NavigateTo("Login");
    }
}