@inject AuthenticationStateProvider AuthStateProvider
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (idPais == TrinidadYTobago)
{

    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Neo</a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="FormatoAgrupado">
                    <span class="oi oi-pencil" aria-hidden="true"></span> Format
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Historico">
                    <span class="oi oi-book" aria-hidden="true"></span> Historical
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="http://neo.paveca.com.ve/reuniondiaria">
                    <span class="oi oi-people" aria-hidden="true"></span> Daily Meeting
                </NavLink>
            </div>
        </nav>
    </div>
}
else
{
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Neo</a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="FormatoAgrupado">
                    <span class="oi oi-pencil" aria-hidden="true"></span> Formato
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Historico">
                    <span class="oi oi-book" aria-hidden="true"></span> Histórico
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="http://neo.paveca.com.ve/reuniondiaria">
                    <span class="oi oi-people" aria-hidden="true"></span> Reunión Diaria
                </NavLink>
            </div>
        </nav>
    </div>
}

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private IEnumerable<Claim> claims = Enumerable.Empty<Claim>();
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    private int idPais;
    private int TrinidadYTobago = 5;

    protected override async Task OnInitializedAsync()
    {
        if (authenticationState is not null)
        {
            AuthenticationState authState = await authenticationState;
            ClaimsPrincipal? user = authState?.User;

            if (user?.Identity is not null && user.Identity.IsAuthenticated)
            {
                idPais = GetIdPaisFromClaims(user);
            }
        }
    }

    private int GetIdPaisFromClaims(ClaimsPrincipal user)
    {
        // Busca el claim con el tipo "IdPais" y conviértelo a entero.
        int.TryParse(user.FindFirst(c => c.Type == "IdPais")?.Value, out int idPais);
        return idPais;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
